timeline {
    display: block;
}

timeline.graphic {
    font-size: 13px;
}

timeline.graphic > timeline-entry {
    border-bottom: 10px solid transparent;
}

timeline > timeline-entry {
    box-sizing: border-box;
    display: block;
}

timeline > timeline-entry > .timespan {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 1px;
    min-width: 20%;
    width: auto;
    padding-left: 2px;
    padding-right: 2px;

    transition: all .5s;
}

timeline > timeline-entry > .timespan.graphic {
    background-color: #333;
    display: block;
    min-height: 8px;
    min-width: auto;
}

timeline > timeline-entry.hover > .timespan,
timeline > timeline-entry.click > .timespan {
    position: relative;
    background-color: #07B;
}

timeline > timeline-entry > .timespan > .tag {
    position: absolute;
    box-sizing: border-box;
    color: transparent;
    background-color: transparent;
    pointer-events: none;
    padding: 2px;;
    border-radius: 2px;
    border: 0px solid #000;
    font-size: 14px;
    z-index: 1000;
    overflow: visible;

    transition: all .2s;
}

timeline > timeline-entry.hover > .timespan > .tag,
timeline > timeline-entry.click > .timespan > .tag  {
    color: inherit;
    background-color: #111;
    border: 1px solid #222;
}

timeline > timeline-entry > .timespan > .tag-left {
    left: -18px;
    bottom: -25px;
} 

timeline > timeline-entry > .timespan > .tag-right {
    right: -18px;
    bottom: -25px;
}

ul.timeline-descriptions {
    padding: 0 0 20px 0;
}

ul.timeline-descriptions > li {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

ul.timeline-descriptions > li.hover,
ul.timeline-descriptions > li.click {
    color: white;
    border-bottom-color: #07B;
}